<form class="is-fullwidth" {{action "lookupRecord" lookup lookupKey on="submit"}}>
  <label class="label" for="ssn-lookup">Search for Trainee by {{all-caps lookupKey}}</label>
  <div class="control is-grouped">
    <p class="control is-expanded">
      {{input type="search" class="input" placeholder="Social Security Number" value=lookup}}
    </p>
    <p class="control">
      {{#form/action-button class="button is-info" disabled=disabled loading=working}}
        Search
      {{/form/action-button}}
    </p>
  </div>
</form>

{{#if noRecordFound}}
  <hr />
  {{#if showNewForm}}
    <form class="is-fullwidth" {{action "save" registrant on="submit"}}>
      <label class="label" for="registrant-name-first">Name</label>
      <div class="control is-grouped">
        <p class="control is-expanded">
          {{input type="text" id="registrant-name-first" class="input" value=registrant.name.first placeholder="First" required=true}}
        </p>
        <p class="control is-expanded">
          {{input type="text" id="registrant-name-middle" class="input" value=registrant.name.middle placeholder="Middle (Optional)"}}
        </p>
        <p class="control is-expanded">
          {{input type="text" id="registrant-name-last" class="input" value=registrant.name.last placeholder="Last" required=true}}
        </p>
      </div>
      <div class="control is-grouped">
        <p class="control is-expanded">
          <label class="label" for="registrant-ssn">SSN</label>
          <p class="control has-addons">
            {{masked-input id="registrant-ssn" type=ssnInputType maskholder='X' mask="999-99-9999" class="input is-expanded" placeholder="Social Security Number" value=registrant.ssn pattern="\d{3}-\d{2}-\d{4}"}}
            <button type="button" class="button" {{action (toggle 'showSsn' this)}}>
              <i class="fa {{if showSsn 'fa-eye-slash' 'fa-eye'}}"></i>
            </button>
          </p>
        </p>
        <p class="control is-expanded">
          <label class="label" for="registrant-email">Email Address</label>
          {{input type="email" id="registrant-email" class="input" value=registrant.email placeholder="registrant@yoohoo.com (Optional)"}}
        </p>
      </div>
      <button class="button is-success is-fullwidth" action="submit">
        Save this Registrant
      </button>
    </form>

  {{else}}
    <h3 class="has-text-centered">We couldn't find a record with that information. <a class="trainee-selection__create-button" href="#" {{action 'showNewForm'}}>Create a new registrant?</a></h3>
  {{/if}}
{{/if}}

{{#if selection}}
  <hr />
{{/if}}

{{#each selection as |registrant|}}
  <div class="card card__grouped is-fullwidth">
    <header class="card-header">
      <div class="card-header-title">
        <div>
          {{registrant.name.first}}
          {{registrant.name.last}}
          {{#if (and registrant.email (not (eq addingEmail registrant.id)))}}
            <span class="tag is-dark">
              <i class="fa fa-fw fa-envelope"></i>
              <span> {{registrant.email}}</span>
            </span>
          {{else}}
            {{#if (eq addingEmail registrant.id)}}
              <form {{action "save" registrant on="submit"}}>
                {{input type="text" id="registrant-email-selection" class="input" value=registrant.email placeholder="Email Address"}}
                {{#form/action-button type="submit" class="button is-primary" loading=working}}Save{{/form/action-button}}
              </form>
            {{else}}
              <a href="#" {{action "addEmail" registrant}}>Add email for automatic notification</a>
            {{/if}}
          {{/if}}
          <br />
          <small>{{registrant.ssnMasked}}</small>
        </div>
      </div>

      <div class="card-header-right">
        <button class="button is-danger"{{action "removeFromSelection" registrant}}><i class="fa fa-minus-square"></i></button>
      </div>
    </header>
  </div>
{{/each}}
