<tr>
  <td>{{@model.heading}}</td>
  <td>{{@model.body}}</td>
  <td>{{@model.link}}</td>
  <td>{{@model.color}}</td>
  <td>
    <a href="#" class="text-danger" {{on "click" (prevent-default (fn @onDelete @model))}}>
      <i class="fa fa-fw fa-trash"></i>
    </a>

    <LinkTo @route="hub-administration.banners.edit" @model={{@model.id}}>
      <i class="fa fa-fw fa-edit"></i>
    </LinkTo>
  </td>
</tr>
