<td>{{time model.start}}</td>
<td>{{time model.end}}</td>
<td>
  {{#each model.blocks as |block|}}
    <span class="tag">
      {{block.firstObject}} - {{block.lastObject}}
    </span>
  {{/each}}
</td>
<td>
  {{#each days as |day|}}
    <span class="tag">
      {{day}}
    </span>
  {{/each}}
</td>
<td>
  <a href="#" {{action "delete"}}><i class="fa fa-trash-o"></i></a>
</td>
