<td>
  {{registration.trainee.name.first}}
  {{registration.trainee.name.last}}
  {{#if registration.trainee.email}}
    <span class="tag is-dark">
      <i class="fa fa-fw fa-envelope"></i>
      <span> {{registration.trainee.email}}</span>
    </span>
  {{/if}}
  {{#if registration.cancelledOn}}
    <strong>Cancelled on {{time registration.cancelledOn}}</strong>
  {{/if}}
  <br>
  <small>{{registration.trainee.ssnMasked}}</small>
</td>
<td>{{registration.company.name}}</td>
<td>{{time registration.start (if tzDiffers 'M/D/YY h:mma z' 'M/D/YY h:mma')}}</td>
<td>{{time registration.end (if tzDiffers 'M/D/YY h:mma z' 'M/D/YY h:mma')}}</td>
<td>
  {{registration.classes.length}}
  {{#tooltip-on-element}}
    <ul>
      {{#each registration.classes as |class|}}
        <li>{{class.name}} ({{class.hours}}hrs)</li>
      {{/each}}
    </ul>
  {{/tooltip-on-element}}
</td>
<td>
  {{#if allowCancel}}
    <a href="#" {{action "cancel"}}>
      <i class="fa fa-fw fa-ban"></i>
      {{#tooltip-on-element}}
        Cancel Registration
      {{/tooltip-on-element}}
    </a>
  {{/if}}

  {{#if isDev}}
    <a href="#" {{action "forceOp" "createRecord" registration}}>
      <i class="fa fa-fw fa-share"></i>
      {{#tooltip-on-element}}
        Force Ground Record Creation (registration)
      {{/tooltip-on-element}}
    </a>
    <a href="#" {{action "forceOp" "createRecord" registration.trainee}}>
      <i class="fa fa-fw fa-share"></i>
      {{#tooltip-on-element}}
        Force Ground Record Creation (user)
      {{/tooltip-on-element}}
    </a>
    <a href="#" {{action "forceOp" "updateRecord" registration}}>
      <i class="fa fa-fw fa-refresh"></i>
      {{#tooltip-on-element}}
        Force Ground Record Update (registration)
      {{/tooltip-on-element}}
    </a>
  {{/if}}
</td>
