{{#if block.information.seats}}
  <span class="cal__block-label--extended">{{block.start}}-{{block.end}}</span>
  <span class="cal__block-label--minimal">{{time block.startF 'h'}}-{{time block.endF 'h'}}</span>
  <span class="cal__avail-seats">
    {{block.information.seats}} Seats
  </span>
{{else}}
  <span>{{block.start}}-{{block.end}}</span>
  <span class="cal__avail-seats">Full!</span>
{{/if}}
{{#tooltip-on-component side='left' delay=500 enableLazyRendering=true}}
  {{if hover toolTipMessage}}
{{/tooltip-on-component}}
