{{#if block.information.seats}}
  <span class="cal__block-label--extended">{{block.start}}-{{block.end}}</span>
  <span class="cal__block-label--minimal">{{time block.startF 'h'}}-{{time block.endF 'h'}}</span>
  <span class="cal__avail-seats">
    {{seats}} Seats
  </span>
{{else}}
  <span>{{block.start}}-{{block.end}}</span>
  <span class="cal__avail-seats">Full!</span>
{{/if}}
{{#ember-tooltip side='left' delay=500 popperContainer='body'}}
  {{if hover toolTipMessage}}
{{/ember-tooltip}}
