<div class="columns cal__controls">
  <div class="column has-text-left">
    <a href="#" {{action "changeMonth" lastMonth}}>
      <i class="fa fa-fw fa-angle-double-left"></i>
      {{lastMonth}}
    </a>
  </div>
  <div class="column">
    <span class="cal__label-month">{{month}} {{year}}</span>
  </div>
  <div class="column has-text-right">
    <a href="#" {{action "changeMonth" nextMonth}}>
      {{nextMonth}}
      <i class="fa fa-fw fa-angle-double-right"></i>
    </a>
  </div>
</div>
<div class="cal__calendar-view {{if registerWarning 'cal__calendar-view--warning'}}">
  <ul class="cal__list-day-labels">
    {{#each dayLabels as |label|}}
      <li>{{label}}</li>
    {{/each}}
  </ul>
  {{#each _weeks as |week weekIndex|}}
    <ul class="cal__list-days">
      {{#each week.days as |day|}}
        {{calendar/x-day
          day=day
          availability=availability
          week=weekIndex
          activeBlocks=activeBlocks
          registerWarning=registerWarning
          classes=classes
          focusBlock=(action 'focusBlock')
          unfocusBlock=(action 'unfocusBlock')
          register=register
          class="animated fadeIn"}}
      {{/each}}
    </ul>
  {{/each}}
</div>
