<div class="cal__controls">
  <a href="#" class="pull-left" {{action "changeMonth" lastMonth}}>
    <i class="fa fa-fw fa-angle-double-left"></i>
    {{lastMonth}}
  </a>
  <span class="cal__label-month">{{month}} {{year}}</span>
  <a href="#" class="pull-right" {{action "changeMonth" nextMonth}}>
    {{nextMonth}}
    <i class="fa fa-fw fa-angle-double-right"></i>
  </a>
</div>
{{#each availabilities as |availability|}}
  <p>{{availability.}}</p>
{{/each}}
<div class="cal__calendar-view">
  <ul class="cal__list-day-labels">
    {{#each dayLabels as |label|}}
      <li>{{label}}</li>
    {{/each}}
  </ul>
  {{#each _weeks as |week weekIndex|}}
    <ul class="cal__list-days">
      {{#each week.days as |day|}}
        {{calendar/x-day day=day availability=availability week=weekIndex focusedRequest=focusedRequest focusRequest=(action 'focusRequest') unfocusRequest=(action 'unfocusRequest') class="animated fadeIn"}}
      {{/each}}
    </ul>
  {{/each}}
</div>
