<div class="columns">
  <BulmaControl class="column">
    <label for="first-name">First Name</label>
    <BulmaInput
      type="text"
      id="first-name"
      placeholder="First Name"
      @value={{@model.firstName}}
      @oninput={{set @model.firstName (get _ "target.value")}}
    />
  </BulmaControl>
  <BulmaControl class="column">
    <label for="last-name">Last Name</label>
    <BulmaInput
      type="text"
      id="last-name"
      placeholder="Last Name"
      @value={{@model.lastName}}
      @oninput={{set @model.lastName (get _ "target.value")}}
    />
  </BulmaControl>
</div>
<BulmaControl>
  <label for="email">
    Email
    <i class="fa fa-info-circle right floated">
      <EmberTooltip
        @popperContainer=".ember-application"
        @side="left">
        Pricing will automatically update if you are an AE/MSSC member
      </EmberTooltip>
    </i>
  </label>
  <BulmaInput
    type="email"
    id="email"
    placeholder="Email Address"
    isLoading={{this.isFetchingMember}}
    @value={{@model.email}}
    @oninput={{pipe (set @model.email (get _ "target.value")) this.updatedEmail}}
  />
</BulmaControl>

{{#if this.memberStatus.memberOfOneOrg}}
  <div class="notification is-success">
    <i class="fa fa-check"></i> You are a member of {{this.memberString}}.
  </div>
{{/if}}

<BulmaControl>
  <label for="company-name">Company Name</label>
  <BulmaInput
    type="text"
    id="company-name"
    placeholder="Company Name"
    @value={{@model.companyName}}
    @oninput={{set @model.companyName (get _ "target.value")}}
  />
</BulmaControl>

<BulmaControl>
  <label for="company-addr-line1">Street Address</label>
  <BulmaInput
    type="text"
    id="company-addr-line1"
    placeholder="Company Street Address"
    @value={{@model.addressLine1}}
    @oninput={{set @model.addressLine1 (get _ "target.value")}}
  />
</BulmaControl>

<BulmaControl>
  <label for="company-addr-line2">Apt/Suite (Optional)</label>
  <BulmaInput
    type="text"
    id="company-addr-line2"
    placeholder="Company Apt/Suite"
    @value={{@model.addressLine2}}
    @oninput={{set @model.addressLine2 (get _ "target.value")}}
  />
</BulmaControl>

<div class="columns columns--with-controls">
  <BulmaControl class="column">
    <label for="company-addr-city">City</label>
    <BulmaInput
      type="text"
      id="company-addr-city"
      placeholder="Company City"
      @value={{@model.addressCity}}
      @oninput={{set @model.addressCity (get _ "target.value")}}
    />
  </BulmaControl>

  <BulmaControl class="column is-expanded">
    <label for="company-addr-state">State</label>

    <div class="select is-fullwidth">
      <select
        {{on "change" (set @model.addressState (get _ "target.value"))}}
      >
        {{#each this.states as |state|}}
          <option value="{{state.value}}" selected={{if (eq @model.addressState state.value) true false}}>
            {{state.label}}
          </option>
        {{/each}}
      </select>
    </div>
  </BulmaControl>

  <BulmaControl class="column">
    <label for="company-addr-zipcode">Zipcode</label>
    <BulmaInput
      type="text"
      id="company-addr-zipcode"
      placeholder="Company Zipcode"
      @value={{@model.addressZipcode}}
      @oninput={{set @model.addressZipcode (get _ "target.value")}}
    />
  </BulmaControl>
</div>

<BulmaControl>
  <label for="company-po">Purchase Order # (Optional)</label>
  <BulmaInput
    type="text"
    id="company-po"
    placeholder="Purchase Order #"
    @oninput={{set @model.po (get _ "target.value")}}
  />
</BulmaControl>

{{!-- <BulmaControl>
  <Form::ActionButton
    type="submit"
    class="button is-large is-success is-fullwidth"
  >
    Save Company Information
  </Form::ActionButton>
</BulmaControl> --}}
