<BulmaControl>
  <label for="email">
    Email
    <i class="fa fa-info-circle right floated">
      <EmberTooltip @popperContainer='.ember-application'>
        Pricing will automatically update if you are an AE/MSSC member
      </EmberTooltip>
    </i>
  </label>
  <BulmaInput
    type="email"
    id="email"
    placeholder="Email Address"
    @oninput={{set @model.email (get _ "target.value")}}
  />
</BulmaControl>

<BulmaControl>
  <label for="company-name">Company Name</label>
  <BulmaInput
    type="text"
    id="company-name"
    placeholder="Company Name"
    @oninput={{set this.companyName (get _ "target.value")}}
  />
</BulmaControl>


<BulmaControl>
  <label for="company-addr-line1">Street Address</label>
  <BulmaInput
    type="text"
    id="company-addr-line1"
    placeholder="Company Street Address"
    @oninput={{set this.companyAddressLine1 (get _ "target.value")}}
  />
</BulmaControl>

<BulmaControl>
  <label for="company-addr-line2">Apt/Suite (Optional)</label>
  <BulmaInput
    type="text"
    id="company-addr-line2"
    placeholder="Company Apt/Suite"
    @oninput={{set this.companyAddressLine2 (get _ "target.value")}}
  />
</BulmaControl>

<div class="columns">

<BulmaControl class="column">
  <label for="company-addr-city">City</label>
  <BulmaInput
    type="text"
    id="company-addr-city"
    placeholder="Company City"
    @oninput={{set this.companyAddressCity (get _ "target.value")}}
  />
</BulmaControl>

<BulmaControl class="column is-expanded">
  <label for="company-addr-state">State</label>

  <div class="select is-fullwidth">
    <select
      {{on "change" (set this.companyAddressState (get _ "target.value"))}}
    >
      {{#each this.states as |state|}}
        <option value="{{state.value}}">{{state.label}}</option>
      {{/each}}
    </select>
  </div>
</BulmaControl>

<BulmaControl class="column">
  <label for="company-addr-zipcode">Zipcode</label>
  <BulmaInput
    type="text"
    id="company-addr-zipcode"
    placeholder="Company Zipcode"
    @oninput={{set this.companyAddressZipcode (get _ "target.value")}}
  />
</BulmaControl>
</div>

<BulmaControl>
  <label for="company-po">Purchase Order # (Optional)</label>
  <BulmaInput
    type="text"
    id="company-po"
    placeholder="Purchase Order #"
    @oninput={{set @model.po (get _ "target.value")}}
  />
</BulmaControl>


