<form {{action "save" on="submit"}}>
  {{#bulma-control}}
    <label for="start-date">Starts on</label>
    {{bulma-input type="date" id="start-date" oninput=(action 'mutateStartDate' value='target.value')}}
  {{/bulma-control}}

  {{#bulma-control}}
    <label for="end-date">Ends on</label>
    {{bulma-input type="date" id="end-date" oninput=(action 'mutateEndDate' value='target.value')}}
  {{/bulma-control}}

  {{#bulma-control}}
    <div>
      <label for="select-class">Select Available Classes (optional)</label>
    </div>
    {{#bulma-select}}
      <select selected={{selectedClass}} class="is-fullwidth" name="select-class" onchange={{action "selectClass" value="target.value"}}>
        <option value>Select a class to add</option>
        {{#each availableClasses as |class index|}}
          <option value="{{index}}">{{class.name}}</option>
        {{/each}}
      </select>
    {{/bulma-select}}

    <ul>
      {{#each model.classExceptions as |exception|}}
        <li>{{exception.name}} <a href="#" {{action "removeClass" exception}}>remove</a></li>
      {{/each}}
    </ul>
  {{/bulma-control}}

  {{#if model.classExceptions.length}}
    <div>
      <label for="block-selection">Enter blackout blocks (two hour, even increments in 24 hour format)</label>
    </div>
    {{#bulma-control hasAddons=true}}
      {{bulma-input
        type="text"
        id="block-selection"
        oninput=(action (mut currentBlock) value='target.value')
        value=currentBlock
        placeholder="ex. 12-14 (for 12-2pm)"}}

      {{bulma-button
        label="Add"
        isSuccess=true
        onmousedown=(action "addBlock" currentBlock)}}
    {{/bulma-control}}
  {{/if}}

  <ul>
    {{#each model.blocks as |block index|}}
      <li>{{block.firstObject}}-{{block.lastObject}} <a href="#" {{action "removeBlock" index}}>remove</a></li>
    {{/each}}
  </ul>

  {{#bulma-control}}
    {{#form/action-button type="submit" class="button is-large is-primary is-fullwidth" loading=working}}Save{{/form/action-button}}
  {{/bulma-control}}
</form>
