<div class="segment container is-spaced">
  <div class="level">
    <LinkTo @route="hub-administration" class="level-left">
      Back to all classes
    </LinkTo>
  </div>
  <h1>{{this.model.hubClass.classInformation.name}} ({{this.model.hubClass.organization}})</h1>
  <h3>by {{this.model.hubClass.instructor.displayName}} @ {{this.model.hubClass.instructor.organization}}</h3>
  <hr />
  {{#if this.model.registrations}}
    <table class="table">
      <thead>
        <tr>
          <th>Company</th>
          <th>Registrant Name</th>
          <th>Registrant Address</th>
          <th>Member of {{this.model.hubClass.organization}}</th>
          <th>Participants</th>
          <th>Total Cost</th>
          <th>Registered On</th>
          <th>PO</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.registrations as |registration|}}
          <Hub::Lists::RegistrationItem @model={{registration}} @onDelete={{fn this.deleteRegistration}} />
        {{/each}}
      </tbody>
    </table>
  {{else}}
    No registrations available.
  {{/if}}
</div>
