<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <section class="section">
      <h2 class="has-text-centered">Sign into Safely</h2>

      {{#bulma-notification isSuccess=true}}
        <h3><strong>Need a login to schedule with us?</strong> <a href="https://www.mssc.org/contact-us/" target="_blank" rel="noopener">Request one here</a></h3>
      {{/bulma-notification}}


      {{#if previousTransition}}
        {{#bulma-notification isDanger=true}}
          <h3><i class="warning icon"></i> You need to log in to access <strong>{{previousTransition.intent.url}}</strong></h3>
        {{/bulma-notification}}
      {{/if}}

      {{#if expired}}
        {{#bulma-notification isWarning=true}}
          <h3><i class="warning icon"></i> Your session has expired. Please log in again.</h3>
        {{/bulma-notification}}
      {{/if}}
    </section>

    <div class="login__card--container">
      <div class="card-content">
        <form {{action "login" on="submit"}}>
          <hgroup>
            <h3>Good {{relative-greeting-time}}!</h3>
            <h4>Please enter your login information.</h4>
          </hgroup>
          <hr />

          {{#bulma-control}}
            <label for="email">Email Address</label>
            {{bulma-input type="email" id="email" class="is-large" placeholder="Your Account Email" oninput=(action (mut email) value='target.value')}}
          {{/bulma-control}}

          {{#bulma-control}}
            <label for="password">
              Password
              {{!-- <a href="#">Forgot</a> --}}
            </label>
            {{bulma-input type="password" id="password" class="is-large" placeholder="Your Account Password" oninput=(action (mut password) value='target.value')}}
          {{/bulma-control}}
          <hr />

          {{#form/action-button type="submit" class="button is-large is-success is-fullwidth" loading=working}}Log In{{/form/action-button}}
        </form>
      </div>
    </div>
  </div>
</div>
