<div class="container container__text">
  {{#if auth.user.administrative}}
    <div class="card is-fullwidth animated fadeInUp">
      <header class="card-header">
        <p class="card-header-title">
          <i class="fa fa-fw fa-building"></i> Select Company
        </p>
        <p class="card-header-right">
          {{#if company}}
            Company Selected
          {{/if}}
        </p>
      </header>
      <div class="card-content">
        {{#power-select
          options=companies
          searchField="name"
          selected=company
          placeholder="Select Company..."
          onchange=(action (mut company))
          as |company|
        }}
          {{company.name}}
        {{/power-select}}
        <hr />
        {{#bulma-control}}
          <label for="reg-comments">Comments</label>
          {{bulma-textarea
            id="reg-comments"
            value=comments
            placeholder="Comments for this registration"
            oninput=(action (mut comments)
            value='target.value')}}
        {{/bulma-control}}
      </div>
    </div>
  {{/if}}
  {{#bulma-message class="animated fadeInUp" isPrimary=true}}
    <div class="message-header">
      <i class="fa fa-fw fa-info-circle"></i>
      You can register multiple trainees for more than one class if they are all taking the same classes. Add all the trainees you'd like to register then select all the classes they will take.
    </div>
  {{/bulma-message}}
  <div class="card is-fullwidth animated fadeInUp">
    <header class="card-header">
      <p class="card-header-title">
        <i class="fa fa-fw fa-users"></i> Select Trainee(s)
      </p>
      <p class="card-header-right">
        {{#if trainees.length}}
          <span class="tag is-primary is-small">
            {{trainees.length}} Selected
          </span>
        {{/if}}
      </p>
    </header>
    <div class="card-content">
      {{form/trainee-selection selected=registrants onChange=(action (mut registrants))}}
    </div>
  </div>

  {{#if registrants}}
    <div class="card is-fullwidth animated fadeInUp">
      <header class="card-header">
        <p class="card-header-title">
          <i class="fa fa-fw fa-graduation-cap"></i> Select Class(es)
        </p>
        <p class="card-header-right">
          {{#if selectedClasses.length}}
            <span class="tag-list">
              <span class="tag is-primary is-small">
                {{selectedClasses.length}} Selected
              </span>
              <span class="tag is-dark is-small">
                {{hours}}hrs
              </span>
            </span>
          {{/if}}
        </p>
      </header>
      <div class="card-content">
        <div class="control">
          {{#power-select-multiple
            options=classes
            searchField="name"
            selected=selectedClasses
            placeholder="Select Classes..."
            onchange=(action (mut selectedClasses))
            as |class|
          }}
            {{class.name}} - {{class.hours}} hours
          {{/power-select-multiple}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if selectedClasses}}
    <div class="card is-fullwidth animated fadeInUp">
      <header class="card-header">
        <p class="card-header-title">
          <i class="fa fa-fw fa-calendar"></i> Select Dates
        </p>
        {{#if tzDiffers}}
          <p class="card-header-right"><span>Dates & times are displayed in <strong>Mountain Time</strong>.</span></p>
        {{/if}}
      </header>

      <div class="card-content">
        {{calendar/x-calendar
          hours=hours
          registrants=registrants
          classes=selectedClasses
          register=(action 'register')}}
      </div>
    </div>
  {{/if}}
</div>
